<VirtualHost *:80>
        ServerName {{if exists "/apache/domain" }}{{getv "/apache/domain"}}{{else}}www.example.com{{end}}

        ServerAdmin {{if exists "/apache/webmaster" }}{{getv "/apache/webmaster"}}{{else}}webmaster@localhost{{end}}
        DocumentRoot /var/www/glpi

        ErrorLog ${APACHE_LOG_DIR}/{{if exists "/apache/domain" }}{{getv "/apache/domain"}}{{else}}{{end}}error.log
        CustomLog ${APACHE_LOG_DIR}/{{if exists "/apache/domain" }}{{getv "/apache/domain"}}{{else}}{{end}}access.log combined
        ServerSignature Off
</VirtualHost>