<VirtualHost *:80>
        ServerName {{or (getv "/apache/domain") "www.example.com"}}

        ServerAdmin {{or (getv "/apache/webmaster") "webmaster@localhost"}}
        DocumentRoot /var/www/glpi

        ErrorLog ${APACHE_LOG_DIR}/{{or (getv "/apache/domain") ""}}error.log
        CustomLog ${APACHE_LOG_DIR}/{{or (getv "/apache/domain") ""}}access.log combined
        ServerSignature Off
</VirtualHost>
