<?php
	class DB extends DBmysql {
		var $dbhost = '{{if exists "/mysql/host" }}{{getv "/mysql/host"}}{{else}}mysql{{end}}';
		var $dbuser    = '{{if exists "/mysql/username" }}{{getv "/mysql/username"}}{{else}}root{{end}}';
		var $dbpassword= '{{if exists "/mysql/password" }}{{getv "/mysql/password"}}{{else}}password{{end}}';
		var $dbdefault = '{{if exists "/mysql/database" }}{{getv "/mysql/database"}}{{else}}glpi{{end}}';
 	}
?>