<?php
	class DB extends DBmysql {
		var $dbhost = '{{or (getv "/mysql/host") "mysql"}}';
		var $dbuser    = '{{or (getv "/mysql/username") "root"}}';
		var $dbpassword= '{{or (getv "/mysql/password") "password"}}';
		var $dbdefault = '{{or (getv "/mysql/database") "glpi"}}';
 	}
?>